PORT=4007
NODE_ENV=development
CLIENT_BASE_URL=http://localhost:4200
VERIFY_EMAIL_PATH=/auth/verify-email
RESET_PASSWORD_PATH=/auth/reset-password

# Internal Service Token
INTERNAL_SERVICE_TOKEN=variablegenerica
